<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cấp độ khóa học</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link href='/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/night-mode.css" rel="stylesheet">

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'>
    <link rel="stylesheet" href="/css/level_view.css">
    <style>
        #dontFind {
            position: absolute;
            margin-top: 50px;
        }
    </style>
</head>

<!-- Thanh header -->
<div id="header_html"></div>

<!-- thanh menu  -->
<div id="menu_user_html"></div>

<!-- Main-course -->

<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row" style="margin-top: -30px;margin-left: 15px;margin-right: 15px;">
                <div class=" hero-section hero-background1 col-lg-12">
                    <h1 class="page-title">
                        <div class="text">
                            <h1 class="h1">
                                <span class="title">Khóa học Trung Cấp</span>
                                <span class="title"></span>
                                <p class="p">Cùng Chúng Tôi Nấu Những Món Ăn Trên Cả Tuyệt Vời!!!</p>
                            </h1>
                        </div>
                    </h1>
                </div>
                <!-- Mục lục khoá học -->

                <!-- thể loại khóa học  -->
            </div>
            <!-- ---------------- -->


            <!-- Search -->
            <div class="col-xl-12 col-lg-8 mt-10">
                <div class="explore_search ">
                    <div class="ui search">
                        <div class="ui left icon input swdh11">
                            <input class="prompt srch_explore" type="text" id="myInput" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
                            <i class="uil uil-search-alt icon icon2"></i>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ---------------- -->

            <!-- Khoá học -->
           <div class="col-md-12">
                        <div class="_14d25" style="min-height: 300px;">
                            <h5 id="dontFind">Chúng tôi không tìm thấy khóa học nào.</h5>
                            <div class="row" id="myDIV">
                                <div class="col-lg-3 col-md-4" th:each="l : ${TrungCap}" th:if="${l.status}=='Đang hoạt động'">
                                    <div class="fcrse_1 mt-30" >
                                        <a th:href="@{course_detail_view/{id}(id=${l.id})}" class="fcrse_img">
                                            <img th:src="${l.image}" alt="">
                                            <div class="course-overlay">
   												 <div class="badge_seller" th:if="${l.sale}>0">Bestseller <span th:text="${l.sale}"></span><span>%</span></div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                              
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            <div class="eps_dots more_dropdown">
                                                <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                <div class="dropdown-content">
                                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                                    <span><i class="uil uil-heart"></i>Save</span>
                                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                                    <span><i class="uil uil-windsock"></i>Report</span>
                                                </div>
                                            </div>
                                            <div class="vdtodt">
                                                <span class="vdt14"  th:text="${l.createDate}" ></span>
                                            </div>
                                            <a href="/course_detail_view" class="crse14s" th:text="${l.name}"></a>
                                            <a href="#" class="crse-cate" th:text="${l.level.name}"></a>
                                            <div class="auth1lnkprce">
                                              <div class="prce142" th:if="${l.sale}>0"><span style="color:red ; font-size:30px" th:text="${l.price}-${l.price}*${l.sale}/100"></span> <span style="color:red ; font-size:30px" >$ </span><span style="text-decoration-line:line-through " th:text="${l.price}"></span> <span>$<span></div>
                                                <div class="prce142" th:if="${l.sale}==0"><span th:text="${l.price}"></span> <span>$<span></div>
                                                <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="main-loader mt-50">

                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- ---------------- -->
        </div>
    </div>

</div>

<div id="chatbox_html"></div>

</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/js/vertical-responsive-menu.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- <script src="/vendor/OwlCarousel/owl.carousel.js"></script> -->
<script src="/vendor/semantic/semantic.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/night-mode.js"></script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script>
<script src="/js/level_view.js"></script>

<script>
    $(document).ready(function() {
        $('.nameC').text(function(i, oldText) {
            var res = oldText.split(" ");
            return res[0] + ' ' + res[res.length - 1];
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(function() {
        $('#chatbox_html').load('/chatbox');
        $('#menu_user_html').load('/menu_user', function() {
            $(".sourseactive").addClass("active");
        });
        $('#header_html').load('/header');

    })
</script>

<!-- search  -->
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase()
            $("#myDIV *").filter(function() {
                if (value) {

                    $(this).find($(".fcrse_1")).parent().toggle($(this).text().toLowerCase()
                        .indexOf(value) > -1)

                } else {
                    $(this).find($(".fcrse_1")).parent().show()

                }

            });
        });
    });
</script>
</body>

</html>