<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>MlemMlem</title>

    <link rel="icon" type="image/png" href="/images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link href="/vendor/unicons-2.0.1/css/unicons.css" rel='stylesheet'>
    <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/night-mode.css" rel="stylesheet">
    <link href="/css/slideshow.css" rel="stylesheet">

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

    <link href="/css/instructor-dashboard.css" rel="stylesheet">

</head>

<body>

    <!-- Thanh header -->
    <div id="header_html"></div>

    <!-- thanh menu  -->
    <div id="menu_user_html"></div>

    <!-- Thanh main -->
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section3125">
                            <h4 class="item_title">All Live Streams</h4>
                            <div class="la5lo1">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-1.jpg" alt="">
                                                <h4>John Doe</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-2.jpg" alt="">
                                                <h4>Jassica</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-9.jpg" alt="">
                                                <h4>Edututs+</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-3.jpg" alt="">
                                                <h4>Joginder Singh</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-4.jpg" alt="">
                                                <h4>Zoena</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-5.jpg" alt="">
                                                <h4>Albert Dua</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-6.jpg" alt="">
                                                <h4>Ridhima</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-7.jpg" alt="">
                                                <h4>Amritpal</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-8.jpg" alt="">
                                                <h4>Jimmy</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-11.jpg" alt="">
                                                <h4>Quinton Batchelor</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-12.jpg" alt="">
                                                <h4>Eli Natoli</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-13.jpg" alt="">
                                                <h4>Jaysen Batchelor</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-14.jpg" alt="">
                                                <h4>Farhat Amin</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-15.jpg" alt="">
                                                <h4>Kyle Pew</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-16.jpg" alt="">
                                                <h4>Kerstin Cable</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="stream_1 mb-30">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-17.jpg" alt="">
                                                <h4>Jose Portilla</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="main-loader mt-20">
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="right_side">
                            <div class="fcrse_3">
                                <div class="cater_ttle">
                                    <h4>Live Streaming</h4>
                                </div>
                                <div class="live_text">
                                    <div class="live_icon"><i class="uil uil-kayak"></i></div>
                                    <div class="live-content">
                                        <p>Thiết lập kênh của bạn và phát trực tiếp cho sinh viên của bạn</p>
                                        <button class="live_link" onclick="window.location.href = 'add_streaming.html';">Bắt đầu</button>
                                        <span class="livinfo">Thông tin: Tính năng này chỉ dành cho 'Người hướng dẫn'.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_html"></div>
    </div>

    <div id="chatbox_html"></div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/js/vertical-responsive-menu.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/vendor/semantic/semantic.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/night-mode.js"></script>
    <script src="/js/slideshow.js"></script>
    <script src="/js/TimelineMax.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>

    <script src='/js/modernizr.min.js'></script>


    <script src="/js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('#chatbox_html').load('./chatbox.html');
            $('#menu_user_html').load('./menu_user.html', function() {
                $(".liveStream").addClass("active");
            });
            $('#header_html').load('./header.html');
            $('#footer_html').load('./footer.html');

        })
    </script>

    <script>
        function getId(url) {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);

            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return 'error';
            }
        }

        window.onload = function() {
            var myId = getId(localStorage.getItem("storageName"));
            $('#myId').html(myId);

            $('#myCode').html('<iframe id="code" src="//www.youtube.com/embed/' + myId +
                '?autoplay=1&modestbranding=1" frameborder="0" allowfullscreen></iframe>'
            );
            $('#myCode').css("pointer-events", "none");

        }
    </script>



</body>

</html>