<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>MlemMlem</title>

    <link rel="icon" type="image/png" href="/images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link href="/vendor/unicons-2.0.1/css/unicons.css" rel='stylesheet'>
    <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/night-mode.css" rel="stylesheet">
    <link href="/css/slideshow.css" rel="stylesheet">
    <link href="/css/instructor-dashboard.css" rel="stylesheet">

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Thanh header -->
    <div id="header_html"></div>

    <!-- thanh menu  -->
    <div id="menu_user_html"></div>

    <!-- Thanh main -->
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section3125">
                            <div class="live1452">

                                <pre id="myCode" class="vid"></pre>

                            </div>
                            <div class="user_dt5">
                                <div class="user_dt_left">
                                    <div class="live_user_dt">
                                        <div class="user_img5">
                                            <img src="images/left-imgs/img-4.jpg" alt="">
                                        </div>
                                        <div class="user_cntnt">
                                            <h4>Nguyễn Trường</h4>
                                            <button class="subscribe-btn">Trang cá nhân</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="user_dt_right">
                                    <ul>
                                        <li>
                                            <a href="#" class="lkcm152"><i class='uil uil-eye'></i><span>1452</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="lkcm152"><i
                                                    class='uil uil-thumbs-up'></i><span>100</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="lkcm152"><i
                                                    class='uil uil-thumbs-down'></i><span>20</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="lkcm152"><i
                                                    class='uil uil-share-alt'></i><span>9</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="right_side">
                            <div class="fcrse_3">
                                <div class="cater_ttle">
                                    <h4>Live Chat</h4>
                                </div>
                                <div class="live_chat">
                                    <div class="chat1">
                                        <!-- <p><a href="#">John Doe</a>Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Donec aliquet molestie leo ac pellentesque</p>
                                        <p><a href="#">Poonam</a>Class aptent taciti sociosqu ad litora torquent per
                                            conubia nostra</p>
                                        <p><a href="#">Jass</a>Nulla sollicitudin nec nisi at pellentesque. Cras
                                            fringilla est et sem tempor</p>
                                        <p><a href="#">Albert Smith</a>Pellentesque ultricies risus sit amet congue
                                            euismod</p>
                                        <p><a href="#">Jassica William</a>Nullam efficitur tristique consequat</p>
                                        <p><a href="#">Joy Dua</a>Proin sed leo eleifend,</p>
                                        <p><a href="#">Zoena Singh</a>Aliquam dignissim elementum sem id rutrum</p>
                                        <p><a href="#">Amritpal Singh</a>Fusce a elit at libero sollicitudin tincidunt
                                        </p>
                                        <p><a href="#">Johnson</a>Ut laoreet lobortis ornare</p>
                                        <p><a href="#">Jashan</a>Sed pretium erat eu turpis condimentum</p> -->
                                    </div>
                                </div>
                                <div class="live_comment">
                                    <input class="live_input" type="text" placeholder="Say Something..." />
                                    <button class="btn_live"><i class='uil uil-message'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="section3125 mb-15 mt-20">
                            <h4 class="item_title">Live Streams</h4>
                            <a href="Explore.html" class="see150">Xem thêm</a>
                            <div class="la5lo1">
                                <div class="owl-carousel live_stream owl-theme">
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-1.jpg" alt="">
                                                <h4>Trường Văn</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-2.jpg" alt="">
                                                <h4>Phan Khải</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-2.jpg" alt="">
                                                <h4>Tuấn Anh</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-3.jpg" alt="">
                                                <h4>Hiếu Võ</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-4.jpg" alt="">
                                                <h4>Trang Nguyễn</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-5.jpg" alt="">
                                                <h4>Quang Nguyễn</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-4.jpg" alt="">
                                                <h4>Trang Nguyễn</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="stream_1">
                                            <a href="live_output.html" class="stream_bg">
                                                <img src="images/left-imgs/img-5.jpg" alt="">
                                                <h4>Quang Nguyễn</h4>
                                                <p>live<span></span></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_html"></div>
    </div>

    <div id="chatbox_html"></div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/js/vertical-responsive-menu.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/vendor/semantic/semantic.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/night-mode.js"></script>
    <script src="/js/slideshow.js"></script>
    <script src="/js/TimelineMax.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>

    <script src='/js/modernizr.min.js'></script>


    <script src="/js/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('#chatbox_html').load('./chatbox.html');
            $('#menu_user_html').load('./menu_user.html', function() {
                $(".liveStream").addClass("active");
            });
            $('#header_html').load('./header.html');
            $('#footer_html').load('./footer.html');


        })
    </script>

    <script>
        function getId(url) {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);

            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return 'error';
            }
        }

        window.onload = function() {
            var myId = getId(localStorage.getItem("storageName"));
            $('#myId').html(myId);

            $('#myCode').html('<iframe id="code" src="//www.youtube.com/embed/' + myId +
                '?autoplay=1&modestbranding=1" frameborder="0" allowfullscreen></iframe>'
            );
            $('#myCode').css("pointer-events", "none");

        }
    </script>



</body>

</html>