<!-- Thanh menu -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/" class="menu--link indexactive" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Trang chủ</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="explore.html" class="menu--link liveStream" title="Explore">
                        <i class='uil uil-kayak menu--icon'></i>
                        <span class="menu--label">LiveStream</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/news" class="menu--link postactive" title="Bài đăng">
                        <i class='uil uil-file-bookmark-alt menu--icon'></i>
                        <span class="menu--label">Bài Đăng</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/listcourse" class="menu--link sourseactive" title="Khoá học">
                        <i class='uil uil-book-open menu--icon'></i>
                        <span class="menu--label">Khoá học</span>
                    </a>
                </li>
                <li class="menu--item ">
                    <a href="all_instructor.html" class="menu--link gvseactive" title="Khoá học">
                        <i class='uil uil-layers  menu--icon'></i>
                        <span class="menu--label">Thông tin giảng viên</span>
                    </a>

                </li>
                <li class="menu--item  menu--item__has_sub_menu ">
                    <label class="menu--link mycourse" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Khóa học của tôi</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item ">
                            <a href="course_loved.html" class="sub_menu--link loved" style="margin-left: -20px;"> <i class='uil uil-heart-alt menu--icon'></i>
                                <span class="menu--label">Khóa học đã lưu</span>
                            </a>
                        </li>
                        <li class="sub_menu--item  ">
                            <a href="/MyCourse" class="sub_menu--link buyed" style="margin-left: -20px;"> <i class='uil uil-newspaper menu--icon'></i>
                                <span class="menu--label">Khóa học đã mua</span>
                            </a>
                        </li>
                        <li class="sub_menu--item ">
                            <a href="/MyCertificate" class="sub_menu--link chungchi" style="margin-left: -20px;"> <i class='uil uil-check-circle menu--icon'></i>
                                <span class="menu--label"> Chứng chỉ đã đạt</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu--item ">
                    <a href="notifications_view.html" class="menu--link thongbao" title="Notifications">
                        <i class='uil uil-bell menu--icon'></i>
                        <span class="menu--label">Thông báo</span>
                    </a>
                </li>
                <li class="menu--item ">
                    <a href="instructor_messages.html" class="menu--link tinnhan" title="Messages">
                        <i class='uil uil-comments menu--icon'></i>
                        <span class="menu--label">Tin nhắn</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="left_section pt-2">
            <ul>
                <li class="menu--item ">
                    <a href="setting.html" class="menu--link caidat" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Hồ sơ của tôi</span>
                    </a>
                </li>
                <li class="menu--item ">
                    <a href="help.html" class="menu--link trogiup" title="Help">
                        <i class='uil uil-question-circle menu--icon'></i>
                        <span class="menu--label">Trợ giúp</span>
                    </a>
                </li>
                <li class="menu--item ">
                    <a href="report_history.html" class="menu--link lichsu" title="Report History">
                        <i class='uil uil-windsock menu--icon'></i>
                        <span class="menu--label">Lịch sử báo cáo</span>
                    </a>
                </li>
                <li class="menu--item ">
                    <a href="feedback.html" class="menu--link phanhoi" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Phản hồi</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_footer">
            <!-- <ul>
                <li><a href="about_us.html">Giới thiệu</a></li>
                <li><a href="contact_us.html">Liên hệ</a></li>
                <li><a href="coming_soon.html">Quảng cáo</a></li>
                <li><a href="coming_soon.html">Nhà phát triển</a></li>
                <li><a href="terms_of_use.html">Bản quyền</a></li>
                <li><a href="terms_of_use.html">Chính sách bảo mật</a></li>
                <li><a href="terms_of_use.html">Điều kiện</a></li>
            </ul> -->
            <div class="left_footer_content">
                <p>© 2021 <strong>Mlem</strong>. Mlem.</p>
            </div>
        </div>
    </div>
</nav>