<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="#" class="menu--link Dashboard" title="Dashboard">
                        <i class="uil uil-apps menu--icon"></i>
                        <span class="menu--label">Bảng điều khiển admin</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/admin/course" class="menu--link Courses" title="Courses">
                        <i class='uil uil-book-alt menu--icon'></i>
                        <span class="menu--label">Quản lý khóa học</span>
                    </a>
                </li>
                      <li class="menu--item">
                    <a href="/admin/account" class="menu--link member" title="Member">
                        <i class="far fa-user menu--icon"></i>
                        <span class="menu--label">Quản lý Thành viên</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/admin/analyics" class="menu--link Analyics" title="Analyics">
                        <i class='uil uil-analysis menu--icon'></i>
                        <span class="menu--label">Phân Tích Biểu Đồ</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/admin/generalCourse/create" class="menu--link CreateCourse" title="Create Course">
                        <i class='uil uil-plus-circle menu--icon'></i>
                        <span class="menu--label">Tạo Khóa Học</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="#" class="menu--link Messages" title="Messages">
                        <i class='uil uil-comments menu--icon'></i>
                        <span class="menu--label">Tin nhắn</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="#" class="menu--link Notifications" title="Notifications">
                        <i class='uil uil-bell menu--icon'></i>
                        <span class="menu--label">Thông báo</span>
                    </a>
                </li>
          
            
    
                <li class="menu--item">
                    <a href="instructor_payout.html" class="menu--link Payout" title="Payout">
                        <i class='uil uil-wallet menu--icon'></i>
                        <span class="menu--label">Thanh Toán</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_statements.html" class="menu--link Statements" title="Statements">
                        <i class='uil uil-file-alt menu--icon'></i>
                        <span class="menu--label">Tài liệu</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/admin/verification" class="menu--link Verification" title="Verification">
                        <i class='uil uil-check-circle menu--icon'></i>
                        <span class="menu--label">Cấp quyền</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a href="#" class="menu--link" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Cài đặt</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="#" class="menu--link" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Phản hồi</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>