<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <script data-cfasync="false" src="/etc/clientlibs/pluralsight/main/js/separates/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/etc/clientlibs/pluralsight/uber.min.113e7e1f22129bfdbebac050874676a7.css"
    type="text/css">
  <link rel="stylesheet" href="/etc/clientlibs/pluralsight/components/events.min.0583f8ae16feca56727cca16d210b40a.css"
    type="text/css">
  <title>MÓN ĂN VỚI THỊT HEO | Khóa học cơ bản</title>

  <link href='/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
  <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <style>
    .font-Lobster {
      color: black;
      text-align: center;
      font: 18px Lobster;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
    }

    body {
      font-family: "Lobster", sans-serif;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body class="mode-disabled course-template font-loading">
  <div class="site-wrap">
    <div class="nav-context ">
      <div class="xf-page xfpage page basicpage">
        <div class="xf-content-height">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="navigation aem-GridColumn aem-GridColumn--default--12">
              <div>
                <nav class="ps-nav-global" role="navigation">
                  <button class="bg-warning " onclick="window.location='/course_detail_view.html'"
                    style="width: 200px;position: absolute;border: none;top: 10px;background-color: burlywood !important;">Quay
                    lại</button>
                  <div class="ps-nav--inner">
                    <div class="ps-nav--brand" style="width: 100%;margin-left: 20px;">
                      <a href="index.html" style="margin: auto;">
                        <img src="/images/fav.png" width="30px" alt="">
                        <span class="font-Lobster"> MlemMlem</span>
                      </a>
                    </div>
                  </div>
                  <!-- Thanh thông tin người dùng -->
                  <img src="/images/hd_dp.jpg" alt="" style="border-radius: 50%;width: 40px;padding: 2px;background-color: aliceblue;">
                </nav>
                <div class="header_padding ps_header_padding"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="content" class="clearfix " role="main">
        <div id="course-banner" class="clearfix">
        </div>
        <div id="course-content-top" class="clearfix">
          <div id="course-page-hero" class="block  Intermediate has-course-image  ">
            <iframe width="100%" height="550px" id="videoLearn"
              src="https://www.videoindexer.ai/embed/player/e538bf44-2b70-4f84-9d01-5272ce388112/8194101489/?&locale=vi-VN&location=trial&showCaptions=false&captions=vi-VN"
              frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="course_mobile_accordion">Nội dung</div>
          <div class="tab-content row collapse clearfix mobile-closed mobile-accordion-content" id="course_modules">
            <div id="course_modules__accordion" class="accordion">
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">MÓN ĂN VỚI THỊT HEO</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("e538bf44-2b70-4f84-9d01-5272ce388112/8194101489","e538bf44-2b70-4f84-9d01-5272ce388112/8194101489")' class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>
                    Giới thiệu khóa học
                  </span>
                  <span class="accordion-content__row__time" style="width: auto;">8 phút</span>
                </a>
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Chương 1: Học các kỹ năng cơ bản</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/982f2adc64","483ee710-4113-4ee0-b62c-c759fa0490ee/982f2adc64")' class="accordion-content__row fancybox clearfix">
                  <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                  <span class="accordion-content__row__title">
                    <i class="fa fa-play-circle" style="padding: 5px;"></i>Bài 1: Cách cắt thái đúng cách </span>
                  <span class="accordion-content__row__time">8 phút</span>
                </a>
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/1ac895cf2e","483ee710-4113-4ee0-b62c-c759fa0490ee/1ac895cf2e")'  class="accordion-content__row fancybox clearfix">
                  <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    2: Cách trang trí đĩa thức ăn</span>
                  <span class="accordion-content__row__time">13 phút</span>
                </a>
                
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Chương 2: Hướng dẫn luộc thịt</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/95eb9cef20","483ee710-4113-4ee0-b62c-c759fa0490ee/95eb9cef20")'  class="accordion-content__row fancybox clearfix">
                  <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    1 : Luộc thịt heo ngon</span>
                  <span class="accordion-content__row__time">3 phút</span>
                </a>
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Chương 3: Cách món đơn giản tại nhà</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("e538bf44-2b70-4f84-9d01-5272ce388112/7507c2d836","e538bf44-2b70-4f84-9d01-5272ce388112/7507c2d836")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    1: Thịt kho tiêu</span>
                  <span class="accordion-content__row__time">7 phút</span>
                </a>
                <a onclick='changeURLVideo("e538bf44-2b70-4f84-9d01-5272ce388112/8194101489","e538bf44-2b70-4f84-9d01-5272ce388112/8194101489")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    2: Thịt heo xào xả ớt</span>
                  <span class="accordion-content__row__time">2 phút</span>
                </a>
                <a onclick='changeURLVideo("e538bf44-2b70-4f84-9d01-5272ce388112/e3e34bdb6c","e538bf44-2b70-4f84-9d01-5272ce388112/e3e34bdb6c")' class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    3: Thịt heo kho mắm ruốc</span>
                  <span class="accordion-content__row__time">5 phút</span>
                </a>
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/60df20bb8a","483ee710-4113-4ee0-b62c-c759fa0490ee/60df20bb8a")' class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    4: Thịt kho tàu</span>
                  <span class="accordion-content__row__time">5 phút</span>
                </a>
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Chương 4: Hướng dẫn chiên thịt</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("e538bf44-2b70-4f84-9d01-5272ce388112/8995220642","e538bf44-2b70-4f84-9d01-5272ce388112/8995220642")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    1: Ba chỉ chiên da giòn</span>
                  <span class="accordion-content__row__time">3 phút</span>
                </a>
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Chương 5: Hướng dẫn làm món canh</div>
                </div>
              </div>
              <div class="accordion-content clearfix">
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/246cf836d4","483ee710-4113-4ee0-b62c-c759fa0490ee/246cf836d4")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    1: Làm canh bầu</span>
                  <span class="accordion-content__row__time">4 phút</span>
                </a>
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/fba6d02281","483ee710-4113-4ee0-b62c-c759fa0490ee/fba6d02281")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    2: Làm canh khổ qua</span>
                  <span class="accordion-content__row__time">5 phút</span>
                </a>
                <a onclick='changeURLVideo("483ee710-4113-4ee0-b62c-c759fa0490ee/bfe38f0553","483ee710-4113-4ee0-b62c-c759fa0490ee/bfe38f0553")'  class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-play-circle" style="padding: 5px;"></i>Bài
                    3: Làm canh hoanh thánh</span>
                  <span class="accordion-content__row__time">8 phút</span>
                </a>
              </div>
              <div class="accordion-title clearfix">
                <div class="accordion-title__expand"></div>
                <div class="accordion-title__title-time clearfix">
                  <div class="accordion-title__title">Tổng kết</div>
                </div>
              </div>
              <div class="accordion-content clearfix" th:each="c : ${listTest}">
                <a th:href="'/doExam?idExam='+${c.id}" class="accordion-content__row fancybox clearfix">
                  <span class="accordion-content__row__title"><i class="fa fa-pager" style="padding: 5px;"></i>Bài kiểm tra tổng kết</span>
                  <span class="accordion-content__row__time">30 phút</span>
                </a>
              </div>
            </div>
          </div>
          <div class="course_modules--shadow"></div>
        </div>
        <div id="course-content-bottom clearfix">
          <iframe width="100%" height="480" id="insight" src="https://www.videoindexer.ai/embed/insights/e538bf44-2b70-4f84-9d01-5272ce388112/8194101489/?locale=vi-VN&controls=search&widgets=scenes,transcript,people" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="main" id="commentdiv">
        <div class="medium-12 columns " style="width: 100%;padding:50px;">
          <div class="apply_links_sco">
            <div class="ui search focus mt-30">
              <div class="ui form swdh30">
                <div class="field">
                  <textarea rows="6" name="description" id="id_about"
                    placeholder="Viết bình luận bạn muốn vào đây..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <button id="comment" style="margin-top: 10px; float: right;" class="save_btn" type="submit">Bình
            luận</button>
          <div class="review_all120">
            <div id="addcomment">

            </div>
            <div class="review_item">
              <div class="review_usr_dt">
                <img src="/images/left-imgs/img-1.jpg" alt="">
                <div class="rv1458">
                  <h4 class="tutor_name1">Nguyễn Quang Hải Trường</h4>
                  <span class="time_145">2 giờ trước</span>
                </div>
              </div>
              <p class="rvds10">Khoá học tốt đảm bảo chất lượng.</p>
              <div class="rpt100">
                <div class="user_dt_right" style=" margin-top: -5px;">
                  <ul>
                    <li>
                      <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-up"></i><span>100</span></a>
                    </li>
                    <li>
                      <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-down"></i><span>20</span></a>
                    </li>
                    <li>
                      <a onclick="divtoggle(this)" style="font-size: x-large;">
                        <i class="uil uil-comment-alt-lines"></i><span>Trả
                          lời</span></a>
                    </li>
                  </ul>
                </div>
                <a href="#" class="report145">Báo cáo</a>
              </div>
              <div class="ui search focus mt-30 collapse" style="  margin-left: 7rem;">
                <div class="review_item" style="border-bottom: none;">
                  <div class="review_usr_dt">
                    <img src="/images/left-imgs/img-1.jpg" alt="">
                    <div class="rv1458">
                      <h4 class="tutor_name1">Phan Văn Khải</h4>
                      <span class="time_145">2 giờ trước</span>
                    </div>
                  </div>
                  <p class="rvds10">Khoá học tốt đảm bảo chất lượng.</p>
                  <div class="rpt100">
                    <div class="user_dt_right" style=" margin-top: -5px;">
                      <ul>
                        <li>
                          <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-up"></i><span>100</span></a>
                        </li>
                        <li>
                          <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-down"></i><span>20</span></a>
                        </li>
                        <li>
                          <a data-toggle="collapse" href="" role="button" aria-expanded="false"
                            aria-controls="collapseExample" href="#" style="font-size: x-large;"><i
                              class="uil uil-comment-alt-lines"></i><span>Trả
                              lời</span></a>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="report145">Báo cáo</a>
                  </div>
                </div>
                <div class="ui form swdh30 ">
                  <div class="row" >
                    <div class="col" style="float: left;">
                      <textarea name="description" style="width: 700px;"
                      placeholder="Viết bình luận bạn muốn vào đây..."></textarea>
                    </div>
                    <div class="col" style="float: left;">
                      <button style="margin: 10px 0 0 50px;font-size: x-large;" class="save_btn" type="submit"><i
                          class="uil uil-enter"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample" href="#"
              style="font-size: small; padding-left: 6rem; color: black; font-family: 'Roboto', sans-serif;"><i
                class="uil uil-comment"></i><span>1 phản hồi</span></a>
            <div class="review_item">
              <div class="review_usr_dt">
                <img src="/images/left-imgs/img-1.jpg" alt="">
                <div class="rv1458">
                  <h4 class="tutor_name1">Trần Thị Minh Trng</h4>
                  <span class="time_145">2 giờ trước</span>
                </div>
              </div>
              <p class="rvds10">An toàn thực phẩm là gì ạ.</p>
              <div class="rpt100">
                <div class="user_dt_right" style=" margin-top: -5px;">
                  <ul>
                    <li>
                      <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-up"></i><span>100</span></a>
                    </li>
                    <li>
                      <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-down"></i><span>20</span></a>
                    </li>
                    <li>
                      <a onclick="divtoggle(this)" style="font-size: x-large;"><i
                          class="uil uil-comment-alt-lines"></i><span>Trả
                          lời</span></a>
                    </li>
                  </ul>
                </div>
                <a href="#" class="report145">Báo cáo</a>
              </div>
              <div class="ui search focus mt-30 collapse" style="  margin-left: 7rem;">
                <div class="review_item" style="border-bottom: none;">
                  <div class="review_usr_dt">
                    <img src="/images/left-imgs/img-1.jpg" alt="">
                    <div class="rv1458">
                      <h4 class="tutor_name1">Phan Văn Khải</h4>
                      <span class="time_145">2 giờ trước</span>
                    </div>
                  </div>
                  <p class="rvds10">Khoá học tốt đảm bảo chất lượng.</p>
                  <div class="rpt100">
                    <div class="user_dt_right" style=" margin-top: -5px;">
                      <ul>
                        <li>
                          <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-up"></i><span>100</span></a>
                        </li>
                        <li>
                          <a href="#" style="font-size: x-large;"><i class="uil uil-thumbs-down"></i><span>20</span></a>
                        </li>
                        <li>
                          <a data-toggle="collapse" href="collapseExample1" role="button" aria-expanded="false"
                            aria-controls="collapseExample1" href="#" style="font-size: x-large;"><i
                              class="uil uil-comment-alt-lines"></i><span>Trả
                              lời</span></a>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="report145">Báo cáo</a>
                  </div>
                </div>
                <div class="ui form swdh30 ">
                  <div class="row" >
                    <div class="col" style="float: left;">
                      <textarea name="description" style="width: 700px;"
                      placeholder="Viết bình luận bạn muốn vào đây..."></textarea>
                    </div>
                    <div class="col" style="float: left;">
                      <button style="margin: 10px 0 0 50px;font-size: x-large;" class="save_btn" type="submit"><i
                          class="uil uil-enter"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
              aria-controls="collapseExample" href="#"
              style="font-size: small; padding-left: 6rem; color: black; font-family: 'Roboto', sans-serif;"><i
                class="uil uil-comment"></i><span>1 phản hồi</span></a>
          </div>

          <div class="invite-modal-wrap">
            <div id="invite-modal" class="invite_modal__content">
              <h3>Đươc phép truy cập bây giờ</h3>
              <p>Mua để có quyền truy cập ngay vào khóa học này cùng với hàng nghìn nội dung khác mà bạn có thể xem mọi
                lúc,
                mọi nơi.</p>
              <div class="invite_modal__callouts">
                <a href="#" class="cancel close-fancybox">Hủy</a>
                <a href="buy?sku=IND-M-STANDARD-FT" class="button button--primary">Mua ngay</a>
                <a href="#" class="cancel mobile close-fancybox">Thoát</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script>
        jQuery(".text.section, .text-2.section, .text-3.section, .text-4.section, .title.section, .title2.section")
          .each(function (key, item) {
            if (item.innerHTML.indexOf("\u2028") > -1) {
              item.innerHTML = item.innerHTML.replace(/\u2028/g, ' ');
            }
          });
      </script>

      <script type="text/javascript" src="/etc/clientlibs/pluralsight/uber.min.b2f0ef92fa1a8d792dfe6d5217e4a4c2.js"
        defer></script>
      <script type="text/javascript"
        src="/etc/clientlibs/pluralsight/components/events.min.53a19ca78baea8e6a38624a894d5619b.js"></script>
    </div>
  </div>
  <div class="cookie_notification options" style="display:none;">
    <p class="cookie_notification--text">Chúng tôi sử dụng cookie để tương tác với các trang web và dịch vụ của chúng
      tôi dễ dàng và có ý nghĩa. Để biết thêm thông tin về cookie chúng tôi sử dụng hoặc để tìm hiểu cách bạn có thể tắt
      cookie, <a href="privacy" target="_blank">click here</a>.</p>
    <div class="cookie_notification--options">
      <a class="button button--secondary button--tiny cookie_notification--opt_in" href="#">Chấp nhận cookie và đóng
        thông báo này</a>
      <a class="cookie_notification--opt_out" href="#">Tắt cookies</a>
    </div>
  </div>
  <div class="cookie_notification opted_out" style="display:none;">
    <p class="cookie_notification--text">Bạn đã tắt cookie không quan trọng và đang duyệt ở chế độ riêng tư. Để có trải
      nghiệm tốt nhất có thể trên trang web của chúng tôi, vui lòng chấp nhận cookie. Để biết thêm chi tiết, vui lòng
      đọc của chúng tôi<a href="privacy">Chính sách bảo mật</a>.</p>
    <a class="cookie_notification--opt_in text-only" href="#">Chấp nhận cookie và đóng thông báo này</a>
  </div>

  <!-- change url iframe  -->
  <script>
    function changeURLVideo(url, insight) {
      var $iframeVideo = $("#videoLearn")
      url = "https://www.videoindexer.ai/embed/player/" + url +
        "/?&locale=vi-VN&location=trial&showCaptions=false&captions=vi-VN"

      $iframeVideo.attr('src', url)
      var $insight = $("#insight")
      insight = "https://www.videoindexer.ai/embed/insights/" + insight +
        "/?locale=vi-VN&controls=search&widgets=scenes,transcript,people"
      $insight.attr('src', insight)
    }
  </script>

  <!-- check time learn  -->
  <script>
    $("span").click(function () {
      var ch = $(this).find("i")
      setInterval(function () {
        ch.removeClass("fa-play-circle").addClass("fa-check")
      }, 1000*60*2);
    })
  </script>

  <script data-cfasync="false " src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js ">
  </script>
  <script src="/js/jquery-3.3.1.min.js "></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js "></script>
  <script src="/vendor/OwlCarousel/owl.carousel.js "></script>
  <script src="/js/custom.js "></script>

  <script>
    function divtoggle(name) {
      var calldiv = $(name).parent().parent().parent().parent().parent().find($(".collapse"))
      calldiv.toggle(300)
    }
  </script>

</body>

</html>